body {text-align:center;
font-family:Verdana, Geneva, Tahoma, sans-serif}

img {height:500px;
}

h1 {background-color:brown;
color:white;
font-family: 'Times New Roman', Times, serif;}

ul {background-color:black;}

li {text-align:left;
}

h3 {background-color: black;
color:white;
}